/* /*body{
    font-family:sans-serif;
}*/
/* #title{
    text-decoration: underline;/*linea*/
    /* text-align:center;centrado */
/* } */
/* nav{ */
/* width: 250px; */
/* } */
/* ul{ */
    /* margin: 0px; */
    /* padding: 0px; */
    /* list-style:none; */
    /* line-height: 30px; */
    /* background: #f5f5f0; */

      /*borde arriba*/
      /* border-top: 1px ridge rgba(30, 32, 32, 0.897); */
      /*borde derecho*/
      /* border-right: 1px ridge rgba(19, 20, 20, 0.904); */
      /*borde de abajo*/
      /* border-bottom: 1px ridge #171718; */
      /*borde izquierdo*/
      /* border-left: 1px ridge #131414; */
      /*para centrar contenido dentro del form*/
      /* text-align: center; */
}
/* li{
    border: 1px ridge rgb(22, 21, 21);
    
}


li{
    background:#d4cfc5;/*para darle color a mi primer hijo*/
    /* text-align:center;centrado */
    
/* } */
/* li :first-child{ */
    /* background: hsla(43, 93%, 47%, 0.926); */ */
/* } */ 
/*li:first-child a:hover{
}
<video class="video" src="https://storage.googleapis.com/coverr-main/mp4/Coder.mp4" controls></video>